{{extend "./layouts/layouts.html"}}

{{block "title"}}
<title>问答</title>
{{/block}}

{{block "css/js"}}
<link rel="stylesheet" href="../assets/less/ask.css">
<script src="/assets/js/ask.js"></script>
<script src="/assets/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>
{{/block}}

{{block "body"}}
<div class="main">
    <div class="top container">
        <div class="title">
            <h2>游说社区问答</h2>
        </div>
        <div class="search clearfix">
            <input type="text" placeholder="提问前不妨搜索下，看看你的问题是否已经有人提问过" />
            <a href="javascript:;" class="searchbtn">搜 索</a>
            <a href="/newquestion" class="askbtn"><i>+</i><span>我要提问</span></a>
            <div class="searchList">
                <ul>
                    <!-- <li><a href="#">1111</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="content container clearfix">
        <div class="left fl">
            <div class="title">
                <h3>问答专区</h3>
            </div>
            <div class="list">
                <!-- 模板 -->
            </div>
            <div class="page clearfix">
                <ul class="pagination clearfix"> </ul>
            </div>
        </div>
        <div class="right fr">
            <div class="login">
                {{if userInfo}}
                <div class="pic fl">
                    {{if userInfo.u_pic}}
                    <img src="{{userInfo.u_pic}}">
                    {{else}}
                    <img src="/assets/images/user_default.png">
                    {{/if}}
                </div>
                <div class="info fl">
                    <span>{{userInfo.u_nickname}}</span>
                    <p><a href="/member">个人中心</a></p>
                </div>
                {{else}}
                <div class="pic fl">
                    <img src="../assets/images/user_default.png" alt="">
                </div>
                <div class="info fl">
                    <a href="/login">请先登录</a>
                    <p>以便提问和回答</p>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block "js"}}
<script type="text/html" id="pagelist">
{(each asks v)}
<div class="item clearfix">
    <div class="answer fl">
        <span>{(v.ask_cmt)}</span>
        <p>回答</p>
    </div>
    <div class="question fl">
        <a href="/answer/{(v.ask_id)}">{(v.ask_title)}</a>
        <p>{(v.ask_content)}</p>
    </div>
    <div class="info fr">
        <span>{(v.ask_addtime)}</span>
        <p>{(v.u_nickname)}</p>
    </div>
</div>
{(/each)}
</script>
{{/block}}