{{extend "./layouts/layouts.html"}}

{{block "title"}}
<title>修改密码</title>
{{/block}}

{{block "css/js"}}
<link rel="stylesheet" href="/assets/less/changePassword.css">
<script src="/assets/js/changePassword.js"></script>
<script src="/assets/lib/validate/jquery.validate.js"></script>
{{/block}}

{{block "body"}}
<div class="main">
    <div class="m_header w">
        <img src="../assets/images/member-bg.jpg" alt="背景图片">
    </div>
    <div class="w">
        <div class="form_box">
            <h2>修改密码</h2>
            <form id="passwordForm">
                <div>
                    <label for="oldPassword">旧密码:</label>
                    <input type="password" id="oldPassword" name="oldPassword">
                </div>
                <div>
                    <label for="newPassword">新密码:</label>
                    <input type="password" id="newPassword" name="newPassword">
                </div>
                <div>
                    <label for="rePassword">重复新密码:</label>
                    <input type="password" id="rePassword" name="rePassword">
                </div>
                <div class="btn">
                    <input type="submit" value=" 修 改  " class="save">
                </div>
            </form>
        </div>
    </div>
</div>
{{/block}}