{{extend "./layouts/layouts.html"}}

{{block "title"}}
<title>提问</title>
{{/block}}

{{block "css/js"}}
<link rel="stylesheet" href="/assets/less/newQuestion.css">
<script src="/assets/js/newQuestion.js"></script>
{{/block}}

{{block "body"}}
<div class="main">
    <div class="container">
        <div class="title">
            <h2>我要提问</h2>
        </div>
        <div class="content">
            <form class="newquestionForm">
                <div>
                    <label for="title">问题标题</label>
                    <input type="text" name="title" id="title" placeholder="清晰具体的问题，会有助于你获得满意的解答。">
                </div>
                <div>
                    <label for="desc">详细描述</label>
                    <textarea id="desc" name="content" placeholder="如问题标题无法详细阐述你得问题，你可以在此补充。"></textarea>
                </div>
                <a href="javascript:;" class="addnewquestion">发布问题</a>
            </form>

        </div>
    </div>
</div>
{{/block}}